name: "Plugin: build and release"

on:
  workflow_call: {}

permissions:
  id-token: write
  contents: read

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.9"
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build
        run: bun run build
      - name: Publish
        run: npm publish --provenance --access public
