name: Release

on:
  push:
    tags: ["v*"]

jobs:
  release:
    name: Build and release
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/plugin.build-and-release.yaml
